/* Base Styling */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.hero {
    background: url('../img/bb-bg-gif.gif') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero .content-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero .logo-top {
    position: absolute;
    width: 10%;
    padding: 5px;
    margin: 10px 5px;
}

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.hero canvas {
    position: relative;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
}